
	/*common styles*/
	body { position: relative; }
	.wrapper {
		width: 1046px;
		margin: 0 auto;
	}
	html, body { font-family: sans-serif; }
	* { text-decoration: none; }
	/*common styles*/
	/*header*/

	header {
		width: 100%;
		height: 788px;
		background: url(../img/venice-bg-header.jpg) no-repeat center center; 
		-webkit-background-size: cover;
		background-size: cover;
		overflow: hidden;
		position: relative;
	}
	.main-search { margin: 0 auto; }
	.logo { margin-bottom: 10px; }
	.header-menu {
		width: 100%;
		height: 71px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.haeder-menu-nav_items {
		display: flex;
		justify-content: space-between;
	}
	.haeder-menu-nav_items li a {
		display: inline-block;
		font-size: 14px;
		font-family: sans-serif;
		color: rgba(255, 255, 255, 0.302);
		line-height: 1.2;
		text-transform: capitalize;
		margin-left:  40px;
		padding-bottom: 13px;
		transition: all .3s;
		letter-spacing: 1px;
		border-bottom: 2px solid transparent;
		opacity: 1;
	}
	.haeder-menu-nav_items li a:hover {
		color: #fff;
		border-bottom: 2px solid #fff;
		opacity: 1;
	}
	h1 {
		letter-spacing: 2px;
		text-align: center;
		text-transform: uppercase;
		font-size: 48px;
		font-weight: bold;
		color: #fff;
		line-height: 1.2;
		text-shadow: 2.5px 4.33px 20px rgba(0, 0, 0, 0.3);
		margin-top: 190px;
	}
	.search {
		text-align: center;
		position: relative;
		margin-top: 50px;
	}
	.search-cari {
		width: 400px;
		height: 50px;
		padding-left: 60px;
		border-radius: 30px;
		outline: none;
		border: none;
		font-size: 14px;
		background: #fff url('../img/search.png') no-repeat ;
		background-position: 7% 50%;
		box-shadow: 2.5px 4.33px 20px 0px rgba(0, 0, 0, 0.3);
	}
	.btn-search {
		width: 117px;
		height: 57px;
		position: absolute;
		right: 286px;
		top: -4px;
		border-radius: 30px;
		outline: none;
		border: none;
		font-size: 18px;
		text-transform: capitalize;
		color: #fff;
		cursor: pointer;
		background-color: rgb(247, 111, 141);
		box-shadow: 2.5px 4.33px 20px 0px rgba(0, 0, 0, 0.3);
	}
	/*end header*/
	/*accomodations*/
	.accomodation {
		width: 100%;
		height: 1360px;
		background-color: #fdf8f9;
	}
	.span-raja { position: absolute; }
	.booking { position: relative; }
	h2 {
		font-size: 18px;
		font-family: sans-serif;
		color: rgb(98, 97, 97);
		text-transform: uppercase;
		line-height: 1.056;
		text-align: center;
		padding-top: 40px;
	}
	.form-select {
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
	}
	.btn-check {
		width: 199px;
		height: 48px;
		font-size: 14px;
		font-family: sans-serif;
		color: rgb(255, 255, 255);
		text-transform: uppercase;
		line-height: 1.357;
		background-color: rgb(247, 111, 141);
		box-shadow: 0px 0px 20px 0px rgba(247, 111, 141, 0.15);
		border: none;
		cursor: pointer;
		outline: none;
		transition: all .3s;
		outline: none;
	}
	.btn-check:hover {background-color:#e75d7c;}
	.select-btn-bg {
		width: 267px;
		height: 48px;
		background: #fff url('../img/location-icon.png') no-repeat ;
		background-position: 90% 50%;
		box-shadow: 0px 0px 20px 0px rgba(247, 111, 141, 0.15);
		border: none;
		text-transform: capitalize;
		padding-left: 20px;
		outline: none;
	}
	.btn-form {
		width: 145px;
		height: 48px;
		background: #fff url('../img/date-icon.png') no-repeat ;
		background-position: 90% 50%;
		box-shadow: 0px 0px 20px 0px rgba(247, 111, 141, 0.15);
		border: none;
		text-transform: capitalize;
		padding-left: 20px;
		outline: none;
	}
	.guests {
		width: 145px;
		height: 48px;
		background: #fff url('../img/guests-icon.png') no-repeat ;
		background-position: 90% 50%;
		box-shadow: 0px 0px 20px 0px rgba(247, 111, 141, 0.15);
		border: none;
		text-transform: capitalize;
		padding-left: 20px;
		outline: none;
	}
	.fotos-treval-items {
		position: relative;
		box-shadow: 7.5px 12.99px 15px 0px rgba(189, 10, 170, 0.15);
		margin-right: 29px;
		margin-top: 25px;
	}
	.one {margin-right: 0;}

	.fotos-treval-items img {
		width: 100%; 
		height: auto;
		cursor: pointer;
		opacity: 1; 
		transition: all .3s;
	}
	/*hover*/
	.fotos-treval-items {
		position: relative;
		display: inline-block;

	}
	.info-hover {
		width: 100%;
		height: 100%;
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		color: #fff;
		cursor: pointer;
		transition: all .3s;
		background-color:  rgba(189, 10, 170, 0.60);
	}
	.info-hover h2 {
		color: #fff;
		text-transform: capitalize;
		font-size: 20px;
	
	}
	.info-hover p {
		text-transform:capitalize;
		margin-top: 15px;
		margin-left: 126px;
	}
	.info-hover-icon {
		width: 35px;
		height: 35px;
		margin-left: 155px;
		margin-top: 80px;
	}
	.fotos-treval-items:hover .info-hover { opacity: 1; }
	.bg { margin-left: 330px; }
	.text-bg { padding-left: 200px; }
	/*end hover*/
	.fotos-trevel-container { display: flex; }
	.fotos-treval {
		display: flex;
		flex-wrap: wrap;
		margin-top: 90px;
	}
	.btn-submite {
		width: 250px;
		height: 50px;
		position: absolute;
		left: 410px;
		top: 1333px;
		border-radius: 30px;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
		border: none;
		font-size: 14px;
		letter-spacing: 1px;
		background-color: rgb(247, 111, 141);
		box-shadow: 7.5px 12.99px 15px 0px rgba(189, 10, 170, 0.15);
		transition: all .3s;
		outline: none;
	}
	.btn-submite:hover { background-color:#e75d7c; }
	/*end accomodations*/
	/*explore*/
	.explore {
		width: 100%;
		height: 1066px;
		position: relative;
	}
	.explore-menu{
		text-align: center;
		margin-top: 45px;
	}
	.cari-tempat {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 130px;
	}
	h3 {
		text-transform: capitalize;
		font-size: 30px;
		color: #333333;
		letter-spacing: 1px;
		margin-bottom: 30px;
	}
	.cari-tempat p {
		color: #ccc;
		text-align: center;
		line-height: 25px;
		letter-spacing: 1px;
	}
	.paling {
		width: 200px;
		height: 35px;
		font-size: 14px;
		letter-spacing: 1px;
		border-radius:  30px;
		border: none;
		color: #ccc;
		text-transform: capitalize;
		cursor: pointer;
		outline: none;
		background-color: rgb(255, 255, 255);
		transition: all .3s;
	}
	.paling:hover {
		color: #f76f8d;
		box-shadow: 0px 0px 20px 0px rgba(247, 111, 141, 0.15);
	}
	.item-text h4 {
		color: #666;
		text-transform: capitalize;
		letter-spacing: 1px;
		line-height: 20px;
	}
	.orang {
		color: #999;
		text-transform: capitalize;
	}
	.price {
		color: #f76f8d;
		text-transform: capitalize;
	}
	.hotel-fotos {
		position: relative;
		margin-top: 60px;
		display: flex;
		justify-content: space-around;
	}
	.hotel-foto-item { display: flex; }
	.item-text {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-bottom: 40px;
	}
	.hotel-foto-block { margin-right: 40px; }
	.more {
		position: absolute;
		top: 789px;
		left: 410px;
	}
	/*end explore*/
	/*faq*/
	.faq {
		width: 100%;
		height: 540px;
		background-color: #fdf8f9;
		display: flex;
		justify-content: space-around;
	}
	.faq-bloks {
		display: flex;
		justify-content: space-between;
	}
	.faqs-block {
		width: 330px;
		height: 330px;
		margin-right: 30px;
		background-color: #fff;
		padding: 20px;
		margin-top: 130px;
		border-radius: 15px;
		box-shadow: 0px 0px 20px 0px rgba(247, 111, 141, 0.15);
	}
	.faqs-block:last-child { margin-right: 0; }
	.faqs-block h6 {
		font-size: 24px;
		color: #f76f8d;
		padding-bottom: 50px;
	}
	.faqs-block p {
		color: #666;
		text-transform: capitalize;
		padding-bottom: 21px;
	}

	.tex-up { text-transform: capitalize; }
	.tex-up p {
		letter-spacing: 1px;
		line-height: 25px;
	}
	.mail {
		width: 270px;
		height: 50px;
		border: none;
		font-size: 16px;
		text-transform: uppercase;
		background:  #f9eef1 url('../img/Path.png') no-repeat ;
		background-position: 90% 50%;
		padding-left: 10px;
		outline: none;
		cursor: pointer;
	}
	.faqs-block span {
		color: #f76f8d;
		line-height: 30px;
	}
	/*end faq*/
	/*footer*/
	footer {
		width: 100%;
		height: 366px;
	}
	.footer {
		margin-top: 40px;
		display: flex;
		justify-content: space-between;
	}
	.logo-f {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.footer-contact h6 {
		font-size: 22px;
		color: #f76f8d;
		text-transform: capitalize;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
	.footer-contact p {
		color: #666;
		text-transform: capitalize;
		letter-spacing: 1px;
		line-height: 10px;
		margin-bottom: 25px;
	}
	.footer-social {
		height: 70px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 2px solid #ccc;
		padding-top: 25px;
	}
	.footer-social span {
		color: #666;
		letter-spacing: 1px;
	}
	/*end footer*/
	/*up*/
	.up {
		width: 60px;
		height: 35px;
		position:fixed;
		bottom:60px;
		right:35px;
		border-radius: 30px;
		border: none;
		text-transform: uppercase;
		font-size: 14px;
		color: #fff;
		background: #fff url(../img/arrow-up.png) no-repeat;
		background-position: 50% 55%;
		cursor: pointer;
		box-shadow: 5px 5px 20px 5px rgba(247, 111, 141, 0.15);
		outline: none;
	}
/*=============================================*/
